# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++

*.log
*.pdb
*.metagen
*.iobj
*.ipdb
*.ilk

AnimationsAndSoundLib/x64/
EnvironmentEditor/x64/
IsometricRendererLib/x64/
IsometricRendererTestModule/x64/
PathfindingLib/x64/
TacticalWar/x64/
TacticalWarClientCommonLib/x64/
TacticalWarCommonLib/x64/
TacticalWarServer/x64/
ZoneAndSightLib/x64/
.vs/
MatchmakingLib/x64/
TacticalWarBattleLib/x64/
ColorisationTestModule/x64/
EnvironmentPersistanceLib/x64/
x64/Debug/assets
x64/Release/assets